@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #A9DCFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
.header {
  width: 100%;
  margin: 2%;
  position: relative;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cloud {
  position:absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
}
.cloud-left {
  margin-left: -5%;
  position:static;
  width: 140px;
  height: 60px;
  top: 30px;
  left: 40px;
  box-shadow:
    30px 10px 0 10px white,
    60px 0px 0 20px white;
}
.cloud-right2 {
  position:static;
  width: 160px;
  height: 70px;
  top: 20px;
  right: 50px;
  box-shadow:
    40px 15px 0 15px white,
    80px 0px 0 25px white;
}
.cloud-left2 {
  margin-left: 25%;
  position:static;
  width: 140px;
  height: 60px;
  top: 30px;
  left: 40px;
  box-shadow:
    30px 10px 0 10px white,
    60px 0px 0 20px white;
}
.cloud-right {
  margin-right: 25%;
  position:static;
  width: 160px;
  height: 70px;
  top: 20px;
  right: 50px;
  box-shadow:
    40px 15px 0 15px white,
    80px 0px 0 25px white;
}
img {
  width: 40%;
  object-fit: cover;
}
h1 {
  font-size: 56px;
  margin-top: 3%;
  font-weight: bolder;
}
h2 {
  font-size: 36px;
  color: #6B7C93;
  margin-bottom: 5%;
  font-weight: 600;
}
h3{
    font-size: 45px;
    font-weight: bold;
    margin: 0% 10%;
    text-align: center;
}
.titulo-paciente{
 background-color: #62D076;
 font-size: 46px;
 color: white;
 padding: 18px 40px;
 border-radius: 60px;
 width: 40%;
 display: flex;
 align-items: center;
}
.titulo-paciente i{
  font-size: 60px;
  margin-left: 10%;
}
.titulo-paciente-parrafo{
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-left: 10%;
}
.contenedorVideos{
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex; 
  flex-direction: column; 
  align-items:center;
}

article{
  background-color: #62D076;
}

button{
  margin-top: 3%;
  background-color: #62D076;
  font-size: 30px;
  color: white;
  padding: 18px 40px;
  border-radius: 60px;
  width: 60%;
  font-weight: bolder;
}
button:hover {
  background-color: #3f7711; /* color al pasar el ratón */
}
.p-final {
  background-color: aliceblue;
  width: 85%;
  border-radius: 40px;
  font-size: 36px;
  text-align: center;
  padding: 5% 10%;
  margin-top: 5%;
  color: #6B7C93;
  font-weight:600;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.oculto {
  display: none;
}

.mostrar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}